<div>
   <div class="row">
      <div class="col-md-12">
         <label class="page-title">
            <i class="fa fa-search-plus" style="padding-right:5px" aria-hidden="true"></i>
            <span translate="SEARCHDIMENSIONSPROCESSESANDRULES"></span></label>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <span class="btn-toolbar">
            <span class="input-group mx-auto">
               <input type="text" ng-model="elementToSearch" placeholder="Search by"
                  class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="display:inline; width:250px;"
                  ng-keydown="key($event)">
               <span class="input-group-append input-group-prepend">
                  <button ng-disabled="saving || !elementToSearch.length" class="btn btn-primary" title="Refresh"
                     ng-click="searchAll()">
                     <i class="fa fa-fw fa-search-plus"></i>
                  </button>
               </span>
            </span>
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="text-center">
            <label translate="DIMENSIONS"></label>
            <a href>
               <i class="fa fa-toggle-on" ng-if="options.searchDimensions"
                  ng-click="options.searchDimensions=false"></i>
               <i class="fa fa-toggle-off" ng-if="!options.searchDimensions"
                  ng-click="options.searchDimensions=true"></i>
            </a>
            <label translate="PROCESSES" class="ml-2"></label>
            <a href>
               <i class="fa fa-toggle-on" ng-if="options.searchProcesses" ng-click="options.searchProcesses=false"></i>
               <i class="fa fa-toggle-off" ng-if="!options.searchProcesses" ng-click="options.searchProcesses=true"></i>
            </a>
            <label translate="RULES" class="ml-2"></label>
            <a href>
               <i class="fa fa-toggle-on" ng-if="options.searchCubes" ng-click="options.searchCubes=false"></i>
               <i class="fa fa-toggle-off" ng-if="!options.searchCubes" ng-click="options.searchCubes=true"></i>
            </a>
         </div>
      </div>
   </div>
   <auto-height>
      <div ng-if="options.searchDimensions && options.searched">
         <div class="card">
            <div class="card-header" style="padding: 5px 10px;">
               <i class="fa fa-fw dimensions"></i>
               <span>
                  {{lists.dimensions.length}} <span translate="DIMENSIONS"></span>
                  </span>
            </div>
            <div class="card-body">
               <span ng-if="lists.dimensions.length>0" ng-repeat="item in lists.dimensions">
                  <span class="badge m-2" style="font-size:1em;color:white" ng-style="generateHSLColour(item.Name)">
                     <a href="#/dimension/{{instance}}/{{item.Name}}/{{item.Name}}" style="color:white">
                        {{item.Name}}
                     </a>
                  </span>
               </span>
               <div ng-if="lists.dimensions==0 && options.searched && options.searchDimensions"
                  class="mt-1 alert alert-warning" role="alert">
                  <span translate="NODIMENSIONS"></span>
               </div>
            </div>
         </div>
      </div>
      <div ng-if="options.searchProcesses && options.searched">
         <div class="card mt-1">
            <div class="card-header" style="padding: 5px 10px;">
               <i class="fa fa-fw processes"></i>
               <span>
                  {{lists.processes.length}} <span translate="PROCESSES"></span>
                  </span>
            </div>
            <div class="card-body">
               <span ng-if="lists.processes.length>0" ng-repeat="item in lists.processes">
                  <span class="badge m-2" style="font-size:1em;color:white" ng-style="generateHSLColour(item.Name)">
                     <a href="#/process/{{instance}}/{{item.Name}}" style="color:white">
                        {{item.Name}}
                     </a>
                  </span>
               </span>
               <div ng-if="lists.processes==0 && options.searched && options.searchProcesses"
                  class="mt-1 alert alert-warning" role="alert">
                  <span translate="NOPROCESSESFOUND"></span>
               </div>
            </div>
         </div>
      </div>
      <div ng-if="options.searchCubes && options.searched">
            <div class="card mt-1">
               <div class="card-header" style="padding: 5px 10px;">
                  <i class="fa fa-fw rule"></i>
                  <span>
                     {{lists.cubes.length}} <span translate="RULES"></span>
                     </span>
               </div>
               <div class="card-body">
                  <span ng-if="lists.cubes.length>0" ng-repeat="item in lists.cubes">
                     <span class="badge m-2" style="font-size:1em;color:white" ng-style="generateHSLColour(item.Name)">
                        <a href="#/cube/{{instance}}/{{item.Name}}" style="color:white">
                           {{item.Name}}
                        </a>
                     </span>
                  </span>
                  <div ng-if="lists.cubes==0 && options.searched && options.searchCubes"
                     class="mt-1 alert alert-warning" role="alert">
                     <span translate="NORULESFOUND"></span>
                  </div>
               </div>
            </div>
         </div>
   </auto-height>
</div>