<div>
   <div class="row">
      <div class="col-md-12">
         <h2><i class="fa fa-recycle" style="padding-right:5px" aria-hidden="true"></i> Find Bedrock dependencies
            <div class="pull-right">
               <div class="input-group">
                  <div class="input-group-prepend">
                     <input type="text" ng-model="filterTis" placeholder="Search" class="form-control"
                        style="display:inline; width:200px;">
                  </div>
                  <div class="input-group-append input-group-prepend">
                     <button class="btn btn-primary" title="Refresh" ng-click="getBedrockList()">
                        <i class="fa fa-fw fa-refresh"></i>
                     </button>
                  </div>
               </div>
            </div>
         </h2>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <auto-height>
            <table class="table table-hover table-sm">
               <thead>
                  <tr>
                     <th> ProcessName 
                           <span class="btn btn-primary pull-right p-0"
                           style="font-size:0.9em;cursor: pointer" ng-click="showAttributes=!showAttributes">
                              <i ng-if="showAttributes" class="fa fa-fw fa-eye-slash"></i>
                              <i ng-if="!showAttributes" class="fa fa-fw fa-eye"></i>
                           </span>
                     </th>
                     <th ng-if="showAttributes"> Parameters
                        <span ng-repeat="param in lists.filterTisBy" class="badge pull-right mr-1"
                        style="font-size:0.9em;cursor: pointer" ng-style="generateHSLColour(param)" ng-click="removeOneFilter(param)">
                           {{param}}
                           <i class="fa fa-search-minus"></i>
                        </span>
                     </th>
                     <th> Sub Processes
                        <span class="badge badge-primary" style="font-size:0.9em">Prolog</span>
                        <span class="badge badge-info" style="font-size:0.9em">Metadata</span>
                        <span class="badge badge-success" style="font-size:0.9em">Data</span>
                        <span class="badge badge-secondary" style="font-size:0.9em">Epilog</span>
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="process in lists.bedrockTIsInfoFiltered | filter:filterTis">
                     <td>
                        <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"
                           ng-if="process.documentation.missingDescription" uib-popover="'Description:' missing"
                           popover-append-to-body="true" popover-trigger="'mouseenter'"></i>
                        <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"
                           ng-if="process.documentation.useCaseIsLast"
                           uib-popover="'Use case:' should not be after Note" popover-append-to-body="true"
                           popover-trigger="'mouseenter'"></i>
                        <i ng-if="process.documentation.full" class="fa fa-info-circle text-primary" aria-hidden="true"
                           uib-popover="{{process.documentation.description}}" popover-append-to-body="true"
                           popover-trigger="'mouseenter'"></i>
                        <a href="#/process/{{instance}}/{{process.name}}">{{process.name}}</a>
                     </td>
                     <td ng-if="showAttributes">
                        <span ng-repeat="param in process.parameters" ng-click="addParameterToFilter(param.Name)"
                           class="badge badge-success mr-1" style="font-size:0.9em;cursor: pointer;"
                           ng-style="generateHSLColour(param.Name)"
                           uib-popover="Prompt: '{{param.Prompt}}'; Value: '{{param.Value}}'; Type: {{param.Type}}"
                           popover-append-to-body="true" popover-trigger="'mouseenter'">{{param.Name}} <i class="fa fa-search-plus" aria-hidden="true"></i></span>
                     </td>
                     <td>
                        <span ng-if="process.tisInProlog.length>0">
                           <span ng-repeat="ti in process.tisInProlog">
                              <a href="#/process/{{instance}}/{{ti.name}}"
                                 class="badge badge-primary" ng-class="{'badge-danger':!ti.exists}"
                                 style="font-size:0.9em;color:white">
                                 <i ng-if="!ti.exists" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                 {{ti.name}}</a>
                           </span>
                        </span>
                        <span ng-if="process.tisInMetaData.length>0">
                           <span ng-repeat="ti in process.tisInMetaData">
                              <a
                                 class="badge badge-info" ng-class="{'badge-danger':!ti.exists}"
                                  href="#/process/{{instance}}/{{ti.name}}" style="font-size:0.9em;color:white"> <i
                                       ng-if="!ti.exists" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ti.name}}</a>
                           </span>
                        </span>
                        <span ng-if="process.tisInData.length>0">
                           <span ng-repeat="ti in process.tisInData">
                              <a class="badge badge-success" ng-class="{'badge-danger':!ti.exists}"
                                    href="#/process/{{instance}}/{{ti.name}}" style="font-size:0.9em;color:white"> <i
                                       ng-if="!ti.exists" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ti.name}}</a>
                           </span>
                        </span>
                        <span ng-if="process.tisInEpilog.length>0">
                           <span ng-repeat="ti in process.tisInEpilog">
                              <a class="badge badge-secondary" ng-class="{'badge-danger':!ti.exists}"
                                    href="#/process/{{instance}}/{{ti.name}}" 
                                    style="font-size:0.9em;color:white"> <i
                                       ng-if="!ti.exists" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ti.name}}</a>
                           </span>
                        </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </auto-height>
      </div>

   </div>
</div>