<div class="tm1-loggers">

 
 
  <div class="toolbar">

    <label class="page-title">
      <i class="fa fa-sliders"></i> {{instance | uppercase}}:<span translate="LOGGERS"></span>
    </label>

    <div class="btn-toolbar pull-right" title="{{'SERVERLOGS' | translate}}">
      <a class="btn btn-primary" href="/#/server-logs/{{instance}}" role="button" ><i class="fa fa-list-alt"></i></a>
    </div>
    <div class="btn-toolbar">
      <button class="btn btn-warning" ng-if="message">
          <span class="fa fa-warning" aria-hidden="true"></span> <span>{{message}}</span>
      </button>
    </div>

    <div class="btn-toolbar pull-right">
      <button class="btn btn-warning" ng-if="message">
          <span class="fa fa-warning" aria-hidden="true"></span> <span>{{message}}</span>
      </button>
        <div class="input-group">
        <input type="text" ng-model="selections.filter" placeholder="{{'SEARCH' | translate}}" class="form-control" style="display:inline; width: 200px;" />
        <span class="input-group-append">
          <button ng-disabled="!selections.filter.length" class="btn btn-secondary" title="{{'CLEAR' | translate}}" ng-click="selections.filter = ''">
            <i class="fa fa-fw fa-remove"></i>
          </button>
        </span>
      </div>
      <div class="btn-toolbar">
        <select ng-model="selections.levelFilter" class="form-control">
          <option value="All" translate="ALL_LEVELS" class="text-secondary"></option>
          <option value="Fatal" translate="FATAL" class="text-danger"></option>
          <option value="Error" translate="ERROR" class="text-danger"></option>
          <option value="Warning" translate="WARNING" class="text-warning"></option>
          <option value="Info" translate="INFO" class="text-secondary"></option>
          <option value="Debug" translate="DEBUG" class="text-info"></option>
          <option value="Unknown" translate="UNKNOWN" class="text-secondary"></option>
          <option value="Off" translate="OFF" class="text-secondary"></option>
        </select>
      </div>
</div>

  </div>

  <auto-height>

    <div class="card">
      <div class="card-body">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th translate="LOGGER" ></th>
              <th translate="LEVEL" ></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!item.hide" ng-repeat="item in loggers | filter:listFilter track by item.Name">
              <td ng-style="{'padding-left': item.iLevel*20 + 'px'}" style="width: 20px;">
                  <i ng-if="item.hasChildren && item.isExpanded" ng-click="expandCollapse(item)" class="fa fa-minus-square-o click fa-fw"></i>
                  <i ng-if="item.hasChildren && !item.isExpanded" ng-click="expandCollapse(item)" class="fa fa-plus-square-o click fa-fw"></i>
                  <i ng-if="!item.hasChildren" ng-click="expandCollapse(item)" class="fa fa-fw"></i>
                  &nbsp;{{item.Name}}</td>
              <td style="width: 30px;">
        <select id="{{item.Name}}" ng-model="item.Level" ng-change="changeLevel(item)"
                class="form-control" ng-class = "{
                  'text-info' : item.Level == 'Debug',
                  'text-danger' :  item.Level == 'Fatal' || item.Level == 'Error',
                  'text-warning' : item.Level == 'Warning',
                  'text-secondary' : item.Level == 'Info' || item.Level == 'Off' || item.Level == 'Unknown'
                }"
        >
          <option value="Fatal" translate="FATAL" class="text-danger"></option>
          <option value="Error" translate="ERROR" class="text-danger"></option>
          <option value="Warning" translate="WARNING" class="text-warning"></option>
          <option value="Info" translate="INFO" class="text-secondary"></option>
          <option value="Debug" translate="DEBUG" class="text-info"></option>
          <option value="Unknown" translate="UNKNOWN" class="text-secondary"></option>
          <option value="Off" translate="OFF" class="text-secondary"></option>
   
				</select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </auto-height>

</div>