<div>
   <style>
       .open-copy-code{
   position:absolute; 
   right:0px;
   top:0px;  
   z-index:9;
   border-radius: 0px;
   -webkit-box-shadow:  0px 0px 5px 0px rgba(102,102,102,0.4);    
   -moz-box-shadow:  0px 0px 5px 0px rgba(102,102,102,0.4); 
   box-shadow:  0px 0px 5px 0px rgba(102,102,102,0.4);

 } .codesnipet{
  margin:0px;
   width:100%; 
   height:inherit; 
   height:200px; 
   position:absolute; 
   z-index:99999; 
   overflow:auto; 
   top:0px; 
   left:0px; 
   background-color:#FFF;
   border:thin solid #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
 }
  .closecodebtn{
  right:0px;
  color:#fff;
  position:absolute; 
  background-color: #3e3e3f;
  top:-5px; 
  z-index:999999999;
 }
 .closecodebtn:hover{
  right:0px;
  color:#666;
  position:absolute; 
  background-color: #fff;
  top:-5px; 
  z-index:999999999;
 }
 .copycodebtn{
  right:30px;
  position:absolute; 
  
  top:-5px; 
  z-index:999999999;
 }
   </style>
   <div class="row">
      <div class="col-md-12">
         <h2>
            <i class="fa fa-archive" style="padding-right:5px" aria-hidden="true"></i> Samples</h2>
         <h5> Different code samples ready to use in your plugins</h5>
      </div>
   </div>
   <div>
      <uib-tabset>
         <uib-tab>
            <uib-tab-heading>
               Variables
            </uib-tab-heading>
            <div class="row">
               <div class="col-md-12">
                  <auto-height>
                     <div class="row">
                        <div class="col-md-12">
                           $scope.instance: {{instance}}
                        </div>
                     </div>
                  </auto-height>
               </div>
            </div>
         </uib-tab>
         <uib-tab>
            <uib-tab-heading>
               Services
            </uib-tab-heading>
            <div class="row">
               <div class="col-md-12">
                  <auto-height>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <i class="fa fa-fw chores"></i> Execute a chore</div>
                              <div class="card-body">
                                 <div class="card-text">
                                    Run a chore:
                                 </div>
                                 <div>
                                    <div class="input-group">
                                       <input type="text" ng-model="selections.chore" placeholder="Chore Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                          style="display:inline">
                                       <div class="input-group-append">
                                          <button ng-disabled="!selections.chore" class="btn btn-warning" title="Delete" ng-click="executeChore(selections.chore)"
                                             disabled="disabled">
                                             <i class="fa fa-fw fa-bolt"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div>
                                    <label>plugin.js:</label>
                                 </div>
                                 <pre>$scope.executeChore = function (name) {
         $tm1.choreExecute($scope.instance, name);
      }; </pre>
                                 <div>
                                    <label>template.html:</label>
                                 </div>
                                 <pre>ng-click="executeChore(selections.chore)"
   </pre>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <i class="fa fa-fw processes"></i> Execute a process</div>
                              <div class="card-body">
                                 <div class="card-text">
                                    Run a process:
                                 </div>
                                 <div class="input-group">
                                    <input type="text" ng-model="selections.process" placeholder="Process Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                       style="display:inline">
                                    <div class="input-group-append">
                                       <button ng-disabled="!selections.process" class="btn btn-warning" title="Delete" ng-click="executeProcess(selections.process)"
                                          disabled="disabled">
                                          <i class="fa fa-fw fa-bolt"></i>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div>
                                    <label>plugin.js:</label>
                                 </div>
                                 <pre>$scope.executeProcess = function (name) {
   $tm1.processExecute($scope.instance, name);
};</pre>
                                 <div>
                                    <label>template.html:</label>
                                 </div>
                                 <pre>ng-click="executeProcess(selections.process)"
</pre>
                              </div>
                           </div>
                        </div>

                     </div>
                     <div class="row" style="margin-top:10px">
                        <div class="col-md-6">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <i class="fa fa-fw cubes"></i>$tm1.instances</div>
                              <div class="card-body">
                                 <div class="input-group">
                                    <div class="col-md-10">
                                       <span>Click to get the list of all instances available:</span>
                                    </div>
                                    <div class="col-md-2 text-right" style="padding-right:0px">
                                       <button class="btn btn-warning" title="Get Instances" ng-click="getInstances()">
                                          <i class="fa fa-fw fa-bolt"></i>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <i class="fa fa-fw cubes"></i>$tm1.instance</div>
                              <div class="card-body">
                                 <div class="card-text">
                                    Get information of a specific instance:
                                 </div>
                                 <div class="btn-toolbar input-group pull-right">
                                    <input type="text" ng-model="selections.instance" placeholder="Dimension Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                       style="display:inline">
                                    <div class="input-group-append">
                                       <button class="btn btn-warning input-group-append" title="Get Instance" ng-click="getInstance(selections.instance)">
                                          <i class="fa fa-fw fa-bolt"></i>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row" style="margin-top:10px">
                        <div class="col-md-6">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <i class="fa fa-fw dimensions"></i> $tm1.cubeDimensions </div>
                              <div class="card-body">
                                 <div class="card-text">
                                    Get dimensions for a specific cube:
                                 </div>
                                 <div class="input-group">
                                    <input type="text" ng-model="selections.cube" placeholder="Cube Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                       style="display:inline">
                                    <div class="input-group-append">
                                       <button ng-disabled="!selections.cube" class="btn btn-warning" title="Delete" ng-click="getCubeDimensions(selections.cube)"
                                          disabled="disabled">
                                          <i class="fa fa-fw fa-bolt"></i>
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <i class="fa fa-fw fa-pencil-square"></i> $tm1.cellUpdate </div>
                              <div class="card-body">
                                 <div class="card-text">
                                    Send a value to a cell:
                                 </div>
                                 <div class="btn-toolbar pull-right">
                                    <div class="input-group">
                                       <input type="text" ng-model="selections.valueToBeSent" placeholder="Value" class="col-md-4 form-control ng-pristine ng-untouched ng-valid ng-empty"
                                          style="display:inline">
                                       <div class="col-md-4 text-center">
                                          <button ng-disabled="!selections.valueToBeSent" class="btn btn-warning" title="Delete" ng-click="sendValueToCell(selections.valueToBeSent)"
                                             disabled="disabled">
                                             <i class="fa fa-fw fa-arrow-right"></i>
                                          </button>
                                       </div>
                                       <div class="col-md-4">
                                          Value in TM1: {{values.CurrentDate}}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </auto-height>
               </div>
            </div>
         </uib-tab>
         <uib-tab>
            <uib-tab-heading>
               REST API
            </uib-tab-heading>
            <div class="row">
               <div class="col-md-4">
                  <div class="card">
                     <div class="card-header" style="padding: 5px 10px;">
                        <label>
                           Get number of cubes
                        </label>
                     </div>
                     <div class="card-body">
                        te
                     </div>
                     <div class="card-footer">
                        <div class="highlight">
                           <pre class="pre-scrollable"><code>
$scope.getCubesCount = function () {
   var query = "";
   var queryAll = "/Cubes/$count";
   var queryWithoutControlObjects = "/Cubes/$count?$filter=indexof(Name,'}') eq -1";
   if ($rootScope.uiPrefs.controlObjects) {
      query = queryAll;
   } else {
      query = queryWithoutControlObjects;
   }
      $http.get(encodeURIComponent($scope.instance) + query).then(function (value) {
         $scope.tm1Objects[1].value = value.data;
      });
};                              
                                                            </code>
                                                                  </pre>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </uib-tab>
         <uib-tab>
            <uib-tab-heading>
               Bootstrap
            </uib-tab-heading>
            <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point
               to create something more unique by building on or modifying it. More information on
               <a href="https://getbootstrap.com/docs/4.0/components/buttons/">getbootstrap.com</a>.</p>

            <div class="row">
               <div class="col-md-12">
                  <auto-height>
                     <div class="row">
                        <!--CARD-->
                        <div class="col-md-3">
                           <div class="card">
                              <div class="card-header">
                                 Card
                              </div>
                              <div class="card-body">
                                    <div class="card">
                                          <div class="card-header">
                                             Card Header
                                          </div>
                                          <div class="card-body">
                                             Card Body
                                          </div>
                                          <div class="card-footer">
                                             Card Footer
                                          </div>
                                       </div>
                              </div>
                           </div>
                           <div ng-init="displayCodeB0 = 0" ng-click="displayCodeB0 = 1" class="btn btn-info open-copy-code">
                                 <i class="fa fa-code" aria-hidden="true"></i>
                              </div>
                              <div  ng-show="displayCodeB0 == 1" class="btn btn-default closecodebtn"  ng-click="displayCodeB0 = 0" >x</div>
                      <pre id="codeB0" class="codesnipet" ng-show="displayCodeB0 == 1" readonly content-editable>
   <code>&lt;div class="card"&gt;
      &lt;div class="card-header"&gt;
         Card Header
      &lt;/div&gt;
      &lt;div class="card-body"&gt;
         Card Body
      &lt;/div&gt;
      &lt;div class="card-footer"&gt;
         Card Footer
      &lt;/div&gt;
   &lt;/div&gt;</code>
                      </pre>
                        </div>
                  <!--TABS-->
                  <div class="col-md-3">
                        <div class="card">
                           <div class="card-header">
                              Tabs
                           </div>
                           <div class="card-body">
                                 <uib-tabset>
                                       <uib-tab>
                                          <uib-tab-heading>
                                             Tab 1
                                          </uib-tab-heading>
                                          Tab 1 Body
                                       </uib-tab>
                                       <uib-tab>
                                          <uib-tab-heading>
                                             Tab 2
                                          </uib-tab-heading>
                                          Tab 2 Body
                                       </uib-tab>
                                    </uib-tabset>
                           </div>
                        </div>
                        <div ng-init="displayCodeB1 = 0" ng-click="displayCodeB1 = 1" class="btn btn-info open-copy-code">
                              <i class="fa fa-code" aria-hidden="true"></i>
                           </div>
                           <div  ng-show="displayCodeB1 == 1" class="btn btn-default closecodebtn"  ng-click="displayCodeB1 = 0" >x</div>
                     <pre id="codeB1" class="codesnipet" ng-show="displayCodeB1 == 1" readonly content-editable>
<code>&lt;uib-tabset&gt;
      &lt;uib-tab&gt;
         &lt;uib-tab-heading&gt;
            Tab 1
         &lt;/uib-tab-heading&gt;
         Tab 1 Body
      &lt;/uib-tab&gt;
      &lt;uib-tab&gt;
         &lt;uib-tab-heading&gt;
            Tab 2
         &lt;/uib-tab-heading&gt;
         Tab 2 Body
      &lt;/uib-tab&gt;
   &lt;/uib-tabset&gt;</code>
                     </pre>
                     </div>
                     </div>
                  </auto-height>
               </div>
            </div>

         </uib-tab>
         <uib-tab>
            <uib-tab-heading>
               AngularJS
            </uib-tab-heading>
            <p>This is a template showcasing the main AngularJS directives. AngularJS is a structural framework for dynamic
               web apps. More information on the
               <a href="https://docs.angularjs.org/guide/introduction">AngularJS website</a>
            </p>
            <div class="row">
               <div class="col-md-12">
                  <auto-height>
                     <div class="row">
                        <div class="col-md-3 mb-3">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <label>
                                    ng-model
                                 </label>
                              </div>
                              <div class="card-body">
                                 <input type="text" class="form-control" ng-model="values.nameModel">
                              </div>
                              <div class="card-footer">
                                 <span>Show the value stored using ng-model.</span>
                                 <div class="highlight">
                                    <pre>
                                                <code>
               &lt;input type="text" class="form-control" ng-model="values.nameModel"&lt;
                                                </code>
                                             </pre>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 mb-3">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <label>
                                    ng-init
                                 </label>
                              </div>
                              <div class="card-body">
                                 <span ng-init="values.nameModel='My New Variable'">{{values.nameModel}}</span>
                              </div>
                              <div class="card-footer">
                                 <div class="highlight">
                                    <pre>
                                                   <code>
               ng-init="values.nameModel='My New Variable'"
                                                   </code>
                                                </pre>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--ng-change-->
                        <div class="col-md-3 mb-3">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <label>
                                    ng-change
                                 </label>
                              </div>
                              <div class="card-body text-center">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <input type="text" class="form-control" ng-change="countChange = countChange + 1" ng-init="countChange=0" ng-model="myValue"
                                       />
                                    </div>
                                    <div class="col-md-6">
                                       <h2>{{countChange}}</h2>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div class="highlight">
                                    <span>Value increases when input a string</span>
                                    <pre>
                                                      <code>
               ng-change="countChange = countChange + 1"
                                                      </code>
                                                   </pre>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--ng-click-->
                        <div class="col-md-3 mb-3">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <label>
                                    ng-click
                                 </label>
                              </div>
                              <div class="card-body text-center">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <button type="button" class="btn btn-primary" ng-click="countClick = countClick + 1" ng-init="countClick=0">Click</button>

                                    </div>
                                    <div class="col-md-6">
                                       <h2>{{countClick}}</h2>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div class="highlight">
                                    <span>Value increases when clicking on the button</span>
                                    <pre>
                                                         <code>
               ng-click="countClick = countClick + 1"
                                                         </code>
                                                      </pre>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--ng-focus-->
                        <div class="col-md-3 mb-3">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <label>
                                    ng-focus
                                 </label>
                              </div>
                              <div class="card-body text-center">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <input type="text" class="form-control" ng-focus="countFocus = countFocus + 1" ng-init="countFocus=0" />

                                    </div>
                                    <div class="col-md-6">
                                       <h2>{{countFocus}}</h2>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div class="highlight">
                                    <span>Value increases when click inside the input</span>
                                    <pre>
                                                         <code>
               ng-focus="countFocus = countFocus + 1"
                                                         </code>
                                                      </pre>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--ng-blur-->
                        <div class="col-md-3 mb-3">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <label>
                                    ng-blur
                                 </label>
                              </div>
                              <div class="card-body text-center">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <input type="text" class="form-control" ng-blur="countBlur = countBlur + 1" ng-init="countBlur=0" />
                                    </div>
                                    <div class="col-md-6">
                                       <h2>{{countBlur}}</h2>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div class="highlight">
                                    <span>Value increases when exit the input</span>
                                    <pre>
                                                         <code>
               ng-blur="countBlur = countBlur + 1"
                                                         </code>
                                                      </pre>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--ng-if-->
                        <div class="col-md-3 mb-3">
                           <div class="card">
                              <div class="card-header" style="padding: 5px 10px;">
                                 <label>
                                    ng-if
                                 </label>
                              </div>
                              <div class="card-body text-center">
                                 <div class="row" ng-init="showValue=true">
                                    <div class="col-md-6">
                                       <button type="button" class="btn btn-primary" ng-click="showValue =! showValue" ng-init="countClick=0">Click</button>
                                    </div>
                                    <div class="col-md-6">
                                       <h2 ng-if="showValue">{{countFocus}}</h2>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div class="highlight">
                                    <span>Show/Hide content</span>
                                    <pre>
                                       <code>
ng-if="showValue"
                                       </code>
                                    </pre>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </auto-height>
               </div>
            </div>
         </uib-tab>
      </uib-tabset>

   </div>