<div>
    <div class="modal-header">
        <div class="col-md-12">
            <h2>{{dimensionName}}</h2>
        </div>
    </div>
    <div class="modal-body">
               <div class="col-md-12">
                  <div class="alert alert-info" role="alert" ng-if="!dimensionExists">
                     Dimension {{dimensionName}}
                     does not exists yet. Waiting for you to click the Create button...
                  </div>
                  <div class="alert alert-warning" role="alert" ng-if="dimensionExists">
                     <i class="fa fa-fw fa-warning"></i>
                     Dimension
                     <a href="#/dimension/{{instance}}/{{dimensionName}}/{{dimensionName}}">
                        {{dimensionName}}
                     </a>
                     already exists
                  </div>
               </div>
        <div class="col-md-6" ng-if="dimensionExists && hierarchiesOrRollUps=='RollUps'">
            <div class="alert alert-secondary p-2" role="alert">
               <div class="form-check-inline">
                  <div class="radio ml-1">
                     <label class="form-check-label">
                        <input ng-model="toDoLeafElements" type="radio" name="option1" ng-value="'unwindAllElements'">
                        Unwind All ELements
                     </label>
                  </div>
                  <div class="radio ml-1">
                     <label class="form-check-label">
                        <input ng-model="toDoLeafElements" type="radio" name="option2" ng-value="'deleteAllElements'">
                        Delete All Elements
                     </label>
                  </div>
               </div>
            </div>
         </div>
        <div class="col-md-12" ng-if="dimensionExists && hierarchiesOrRollUps!='RollUps'">
            <span><label translate="TM-EXISTINGHIERARCHIES"></label>:</span>
            <table class="table table-hover table-sm">
                  <thead>
                     <tr>
                        <th translate="NAME"> </th>
                        <th translate="ELEMENTS"> </th>
                        <th translate="ACTION"> </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="hierarchy in existingHierarchies">
                        <td>
                           {{hierarchy.name}}

                        </td>
                        <td>
                           {{hierarchy.cardinality}}
                        </td>
                        <td> 
                              <span
                              class="badge ml-1" ng-click="updateHierarchyAction($index)" style="cursor:pointer" ng-class="{'badge-secondary':hierarchy.action=='NOTHING','badge-danger':hierarchy.action=='DESTROY','badge-warning':hierarchy.action=='RECREATE','badge-primary':hierarchy.action=='DELETEALLELEMENTS','badge-info':hierarchy.action=='UNWINDALLELEMENTS'}">
                              {{hierarchy.action}}
                              </span>
                        </td>
                     </tr>
                  </tbody>
               </table>
         </div>
        <div class="pull-right">
            <a href="#/dimension/{{instance}}/{{dimensionName}}/{{dimensionName}}" class="btn btn-info"
               ng-if="createDimensionDone">
               <span translate="TM-DIMENSIONCREATED"></span>:{{dimensionName}}
            </a>
            <button type="button" class="btn btn-success" ng-click="create()" translate="CREATE"></button>
            <button type="button" class="btn btn-default" ng-click="" translate="CANCEL"></button>
         </div>
    </div>
</div>