<div>
   <div class="row">
      <div class="col-md-12">
         <h2>
            <i class="fa fa-calendar" style="padding-right:5px" aria-hidden="true"></i> Time Management</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <uib-tabset active="selections.activeTab">
            <uib-tab>
               <uib-tab-heading>
                  Dimension
               </uib-tab-heading>
               <div class="row">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           Name:
                        </label>
                        <input type="text" class="form-control" ng-model="selections.dimensionName" />
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">Type:</label>
                        <select class="form-control input-group-append" ng-model="selections.dimensionType" ng-options="t for t in lists.dimensionTypes">
                           <option></option>
                        </select>
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           <span> Hierarchy:</span>
                           <a href class="click" ng-click="selections.useHierarchy = !selections.useHierarchy">
                              <i class="fa fa-toggle-on" ng-if="selections.useHierarchy"></i>
                              <i class="fa fa-toggle-off" ng-if="!selections.useHierarchy"></i>
                           </a>
                        </label>
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           <span> Attributes:</span>
                           <a href class="click" ng-click="selections.useAttributes = !selections.useAttributes">
                              <i class="fa fa-toggle-on" ng-if="selections.useAttributes"></i>
                              <i class="fa fa-toggle-off" ng-if="!selections.useAttributes"></i>
                           </a>
                        </label>
                     </span>
                  </div>
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Elements
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-6">
                     <span class="input-group" uib-dropdown is-open="startTime.isOpen">
                        <label class="mr-1">
                           To:
                        </label>
                        <input type="text" class="form-control" ng-model="selections.StartTime" />
                        <span class="input-group-append">
                           <button id="dropdownStartTime" type="button" class="btn btn-light" uib-dropdown-toggle>
                              <span class="fa fa-calendar"></span>
                           </button>
                           <span class="dropdown-menu" uib-dropdown-menu>
                              <datetimepicker enable-time="false" data-ng-model="selections.StartTime" data-options="defaults.datepickerOptions" data-on-set-time="startTime.isOpen = !startTime.isOpen"
                              />
                           </span>
                        </span>
                     </span>
                  </div>
                  <div class="col-md-6">
                     <span class="input-group" uib-dropdown is-open="endTime.isOpen">
                        <label class="mr-1">
                           From:
                        </label>
                        <input type="text" class="form-control" ng-model="selections.EndTime" />
                        <span class="input-group-append">
                           <button id="dropdownEndTime" type="button" class="btn btn-light" uib-dropdown-toggle>
                              <span class="fa fa-calendar"></span>
                           </button>
                           <span class="dropdown-menu" uib-dropdown-menu>
                              <datetimepicker data-ng-model="selections.EndTime" data-on-set-time="endTime.isOpen = !endTime.isOpen" />
                           </span>
                        </span>
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">Leaf ({{lists.dimensionElementTypes[selections.dimensionType].leaf}}):</label>
                        <select class="form-control input-group-append" ng-model="lists.dateFormats[lists.dimensionElementTypes[selections.dimensionType].leaf].format"
                           ng-options="f for f in  lists.dateFormats[lists.dimensionElementTypes[selections.dimensionType].leaf].formats"
                           ng-change="generateExamples();generateDimension()">
                           <option></option>
                        </select>
                     </span>
                  </div>
                  <label>{{examples[lists.dimensionElementTypes[selections.dimensionType].leaf]}}</label>
               </div>
               <div class="row mt-3" ng-repeat="dimensionType in lists.dimensionElementTypes[selections.dimensionType].rollUps">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">{{dimensionType}}:</label>
                        <select class="form-control input-group-append" ng-model="lists.dateFormats[dimensionType].format" ng-options="f for f in  lists.dateFormats[dimensionType].formats"
                           ng-change="generateExamples();generateDimension()">
                           <option></option>
                        </select>
                     </span>
                  </div>
                  <label>{{examples[dimensionType]}}</label>
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Hierarchies
               </uib-tab-heading>
               <table class="table table-hover table-sm">
                  <thead>
                     <tr>
                        <th class="text-center"> # </th>
                        <th class="text-left"> Type </th>
                        <th class="text-left"> Name </th>
                        <th class="text-left"> Top Consolidation </th>
                        <th class="text-left"> Rollups </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="hierarchy in lists.hierarchies[selections.dimensionType]">
                        <td class="text-center">
                           <input style="margin-top:5px" type="checkbox" ng-model="hierarchy.included" ng-change="" class="ng-pristine ng-untouched ng-valid ng-empty"
                              uib-popover="Include Hierarchy" popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                        </td>
                        <td class="text-left"> {{hierarchy.type}} </td>
                        <td class="text-left">
                           <input type="text" class="form-control" ng-model="hierarchy.name" /> </td>
                        <td class="text-left">
                           <input type="text" class="form-control" ng-model="hierarchy.topConso" /> </td>
                        <td class="text-left">
                           <div ng-repeat="rollUp in hierarchy.rollUps">
                              {{rollUp.level}} - {{rollUp.name}} - {{examples[rollUp.name]}}
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Attributes
               </uib-tab-heading>
               <auto-height>
                  <table class="table table-hover table-sm">
                     <thead>
                        <tr>
                           <th class="text-left" style="width:200px"> Hierarchy </th>
                           <th class="text-left"> Attributes </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="hierarchy in lists.hierarchies[selections.dimensionType]" ng-if="hierarchy.included">
                           <td class="text-left"> {{hierarchy.name}} </td>
                           <td class="text-left">
                              <uib-tabset active="hierarchy.activeTab">
                                 <uib-tab ng-repeat="rollUp in hierarchy.rollUps">
                                    <uib-tab-heading>
                                       {{rollUp.level}} - {{rollUp.name}}
                                    </uib-tab-heading>
                                    <div ng-repeat="attributeTypes in rollUp.attributes[0]">
                                       <label>{{attributeTypes.type}}:</label>
                                       <h4>
                                          <span ng-repeat="attribute in attributeTypes.attributes" class="badge mt-1 ml-1" ng-style="generateHSLColour(attribute.name)">
                                             <input style="margin-top:5px" type="checkbox" 
                                             ng-model="attribute.included" 
                                             ng-change="" class="ng-pristine ng-untouched ng-valid ng-empty"> 
                                             {{attribute.name}} ({{attribute.example}})
                                          </span>
                                       </h4>
                                    </div>
                                 </uib-tab>
                              </uib-tabset>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </auto-height>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Preview
               </uib-tab-heading>
               <div ng-repeat="element in lists.elements">
                  {{element}}
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Execute
               </uib-tab-heading>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Custom
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           Start Day of the Week:
                        </label>
                        <select class="form-control input-group-append" ng-model="selections.startDayofWeek" ng-options="t for t in lists.weekDays">
                           <option></option>
                        </select>
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           Start Month of the fiscal year:
                        </label>
                        <select class="form-control input-group-append" ng-model="selections.fiscalYearStartMonth" ng-options="m for m in lists.months">
                           <option></option>
                        </select>
                     </span>
                  </div>
               </div>
               <div class="row mt-3" ng-repeat="separator in lists.separators">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           {{separator.type}}:
                        </label>
                        <input type="text" class="form-control mr-1" ng-model="separator.value" />
                        <label class="mr-1">
                           2018{{separator.value}}1
                        </label>
                     </span>
                  </div>
               </div>
            </uib-tab>
         </uib-tabset>
      </div>
   </div>
</div>