<div>
   <div class="row">
      <div class="col-md-12">
         <h2>
            <i class="fa fa-calendar" style="padding-right:5px" aria-hidden="true"></i> Time Management</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <uib-tabset active="selections.activeTab">
            <uib-tab>
               <uib-tab-heading>
                  Dimension
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-2 text-right">
                     <label>
                        Name:
                     </label>
                  </div>
                  <div class="col-md-4">
                     <input type="text" class="form-control" ng-model="selections.dimensionName" />
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-2 text-right">
                     <label>
                        Leaf:
                     </label>
                  </div>
                  <div class="col-md-4">
                     <select class="form-control input-group-append" ng-model="selections.dimensionType" ng-options="t for t in lists.dimensionTypes">
                        <option></option>
                     </select>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-2 text-right">
                     <label>
                        Hierarchy:
                     </label>
                  </div>
                  <div class="col-md-4 text-center">
                     <a href class="click" ng-click="selections.useHierarchy = !selections.useHierarchy">
                        <i class="fa fa-toggle-on" ng-if="selections.useHierarchy"></i>
                        <i class="fa fa-toggle-off" ng-if="!selections.useHierarchy"></i>
                     </a>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-2 text-right">
                     <label>
                        Attributes:
                     </label>
                  </div>
                  <div class="col-md-4 text-center">
                     <a href class="click" ng-click="selections.useAttributes = !selections.useAttributes">
                        <i class="fa fa-toggle-on" ng-if="selections.useAttributes"></i>
                        <i class="fa fa-toggle-off" ng-if="!selections.useAttributes"></i>
                     </a>
                  </div>
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Elements
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-2 text-right">
                     <label>From:</label>
                  </div>
                  <div class="col-md-4">
                     <span class="input-group" uib-dropdown is-open="startTimeIsOpen">
                        <input type="text" class="form-control" ng-model="dateRangeStart" />
                        <span class="input-group-append">
                           <button id="dropdownStartTime" type="button" class="btn btn-light" uib-dropdown-toggle>
                              <span class="fa fa-calendar"></span>
                           </button>
                           <span class="dropdown-menu" uib-dropdown-menu>
                              <datetimepicker ng-model="dateRangeStart" datetimepicker-config="{modelType:'moment', startView:'day', minView:'day'}" on-set-time="startDateOnSetTime();startTimeIsOpen=!startTimeIsOpen"
                                 before-render="startDateBeforeRender($dates)" />
                           </span>
                        </span>
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-2 text-right">
                     <label>To:</label>
                  </div>
                  <div class="col-md-4">
                     <span class="input-group" uib-dropdown is-open="endTimeIsOpen">
                        <input type="text" class="form-control" ng-model="dateRangeEnd" />
                        <span class="input-group-append">
                           <button id="dropdownEndTime" type="button" class="btn btn-light" uib-dropdown-toggle>
                              <span class="fa fa-calendar"></span>
                           </button>
                           <span class="dropdown-menu" uib-dropdown-menu>
                              <datetimepicker ng-model="dateRangeEnd" datetimepicker-config="{modelType:'moment', startView:'day', minView:'day'}" on-set-time="endDateOnSetTime();endTimeIsOpen=!endTimeIsOpen"
                                 before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
                           </span>
                        </span>
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-2 text-right">
                     <label>Leaf ({{lists.dimensionElementTypes[selections.dimensionType].leaf}}):</label>
                  </div>
                  <div class="col-md-4">
                     <select class="form-control input-group-append" ng-model="lists.dateFormats[lists.dimensionElementTypes[selections.dimensionType].leaf].format"
                        ng-options="f for f in  lists.dateFormats[lists.dimensionElementTypes[selections.dimensionType].leaf].formats"
                        ng-change="generateExamples();generateDimension()">
                        <option></option>
                     </select>
                  </div>
                  <div class="col-md-2 text-left">
                     <label>{{examples[lists.dimensionElementTypes[selections.dimensionType].leaf]}}</label>
                  </div>
               </div>
               <div class="row mt-3" ng-repeat="dimensionType in lists.dimensionElementTypes[selections.dimensionType].rollUps">
                  <div class="col-md-2 text-right">
                     <label>{{dimensionType}}:</label>
                  </div>
                  <div class="col-md-4">
                     <select class="form-control input-group-append" ng-model="lists.dateFormats[dimensionType].format" ng-options="f for f in  lists.dateFormats[dimensionType].formats"
                        ng-change="generateExamples();generateDimension()">
                        <option></option>
                     </select>
                  </div>
                  <div class="col-md-2 text-left">
                     <label>{{examples[dimensionType]}}</label>
                  </div>
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Hierarchies
               </uib-tab-heading>
               <div class="auto-height">
                  <div ng-repeat="hierarchy in lists.hierarchies[selections.dimensionType]" class="mb-1">
                     <div>
                        <span class="input-group">
                           <input type="checkbox" ng-model="hierarchy.included" ng-change="" class="mt-2 ng-pristine ng-untouched ng-valid ng-empty"
                              uib-popover="Include Hierarchy" popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                           <span class="input-group-text">Hierarchy {{$index+1}}</span>
                           <input type="text" class="form-control" ng-model="hierarchy.name" />
                           <span class="input-group-prepend">
                              <a href class="click" ng-click="hierarchy.show = !hierarchy.show">
                                 <i class="fa fa-toggle-on" ng-if="hierarchy.show"></i>
                                 <i class="fa fa-toggle-off" ng-if="!hierarchy.show"></i>
                              </a>
                           </span>
                        </span>
                     </div>
                     <div ng-if="hierarchy.show">
                        <table class="table table-hover table-sm">
                           <thead>
                              <tr>
                                 <th class="text-left"> Rollups </th>
                                 <th class="text-left" ng-repeat="alias in lists.aliases"> {{alias.id}}
                                    <input type="text" class="form-control" ng-model="alias.name" /> </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="rollUp in hierarchy.rollUps">
                                 <td>
                                    <span ng-if="rollUp.level=='Top'">
                                       <input type="text" class="form-control" ng-model="rollUp.name" />
                                    </span>
                                    <span style="padding-left:{{($index)*10}}px" ng-if="rollUp.level!='Top'">
                                       {{rollUp.name}} ({{examples[rollUp.name]}})
                                    </span>
                                 </td>
                                 <td ng-repeat="alias in lists.aliases">
                                    <span ng-if="rollUp.level!='Top'">
                                       <select class="form-control input-group-append" ng-model="lists.aliasesFomat[alias.id][rollUp.name].format" ng-options="f for f in  lists.dateFormats[rollUp.name].formats"
                                          ng-change="">
                                          <option></option>
                                       </select>
                                    </span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Attributes
               </uib-tab-heading>
               <auto-height>
                  <table class="table table-hover table-sm">
                     <thead>
                        <tr>
                           <th class="text-left" style="width:200px"> Hierarchy </th>
                           <th class="text-left"> Attributes </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="hierarchy in lists.hierarchies[selections.dimensionType]" ng-if="hierarchy.included">
                           <td class="text-left"> {{hierarchy.name}} </td>
                           <td class="text-left">
                              <uib-tabset active="hierarchy.activeTab">
                                 <uib-tab ng-repeat="rollUp in hierarchy.rollUps">
                                    <uib-tab-heading>
                                       {{rollUp.level}} - {{rollUp.name}}
                                    </uib-tab-heading>
                                    <div ng-repeat="attributeTypes in rollUp.attributes[0]">
                                       <label>{{attributeTypes.type}}:</label>
                                       <h4>
                                          <span ng-repeat="attribute in attributeTypes.attributes" class="badge mt-1 ml-1" ng-style="generateHSLColour(attribute.name)">
                                             <input style="margin-top:5px" type="checkbox" ng-model="attribute.included" ng-change="" class="ng-pristine ng-untouched ng-valid ng-empty"> {{attribute.name}} ({{attribute.example}})
                                          </span>
                                       </h4>
                                    </div>
                                 </uib-tab>
                              </uib-tabset>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </auto-height>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Preview
               </uib-tab-heading>
               <div ng-repeat="element in lists.elements">
                  {{element}}
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Execute
               </uib-tab-heading>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Custom
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           Start Day of the Week:
                        </label>
                        <select class="form-control input-group-append" ng-model="selections.startDayofWeek" ng-options="t for t in lists.weekDays">
                           <option></option>
                        </select>
                     </span>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           Start Month of the fiscal year:
                        </label>
                        <select class="form-control input-group-append" ng-model="selections.fiscalYearStartMonth" ng-options="m for m in lists.months">
                           <option></option>
                        </select>
                     </span>
                  </div>
               </div>
               <div class="row mt-3" ng-repeat="separator in lists.separators">
                  <div class="col-md-3">
                     <span class="input-group">
                        <label class="mr-1">
                           {{separator.type}}:
                        </label>
                        <input type="text" class="form-control mr-1" ng-model="separator.value" />
                        <label class="mr-1">
                           2018{{separator.value}}1
                        </label>
                     </span>
                  </div>
               </div>
            </uib-tab>
         </uib-tabset>
      </div>
   </div>
</div>