<div>
   <div class="row">
      <div class="col-md-12">
         <h2>
            <i class="fa fa-calendar" style="padding-right:5px" aria-hidden="true"></i> Time Management</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <uib-tabset active="selections.activeTab">
            <uib-tab>
               <uib-tab-heading>
                  Dimension
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-6">
                     <div class="card">
                        <div class="card-header" style="padding: 5px 10px;">
                           <label>
                              Dimension:
                           </label>
                        </div>
                        <div class="card-body">
                           <div class="row">
                              <div class="col-md-4 text-right">
                                 <label>
                                    Name:
                                 </label>
                              </div>
                              <div class="col-md-8">
                                 <input type="text" class="form-control" ng-model="selections.dimensionName" />
                              </div>
                           </div>
                           <div class="row mt-2">
                              <div class="col-md-4 text-right">
                                 <label>
                                    Leaf:
                                 </label>
                              </div>
                              <div class="col-md-8">
                                 <select class="form-control input-group-append" ng-model="selections.dimensionType" ng-options="t for t in lists.dimensionTypes">
                                    <option></option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="card">
                        <div class="card-header" style="padding: 5px 10px;">
                           <label>
                              Options (
                              <a href class="click" ng-click="updateDimensionOptions()">
                                 <i class="fa fa-toggle-on text-success" ng-if="selections.allDimensionOptions"></i>
                                 <i class="fa fa-toggle-off" ng-if="!selections.allDimensionOptions"></i>
                              </a>)
                           </label>
                        </div>
                        <div class="card-body">
                           <div class="row mt-1" ng-repeat="option in dimensionOptions">
                              <div class="col-md-4 text-right">
                                 <label>
                                    {{option.name}}:
                                 </label>
                              </div>
                              <div class="col-md-8 text-center">
                                 <a href class="click" ng-click="option.value = !option.value">
                                    <i class="fa fa-toggle-on text-success" ng-if="option.value"></i>
                                    <i class="fa fa-toggle-off" ng-if="!option.value"></i>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Leafs
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-6">
                     <div class="card">
                        <div class="card-header" style="padding: 5px 10px;">
                           <label>
                              Calendar:
                           </label>
                        </div>
                        <div class="card-body">
                           <div class="row mt-1">
                              <div class="col-md-4 text-right">
                                 <label>From:</label>
                              </div>
                              <div class="col-md-8">
                                 <span class="input-group" uib-dropdown is-open="startTimeIsOpen">
                                    <input type="text" class="form-control" ng-model="dateRangeStart" />
                                    <span class="input-group-append">
                                       <button id="dropdownStartTime" type="button" class="btn btn-light" uib-dropdown-toggle>
                                          <span class="fa fa-calendar"></span>
                                       </button>
                                       <span class="dropdown-menu" uib-dropdown-menu>
                                          <datetimepicker ng-model="dateRangeStart" datetimepicker-config="{modelType:'moment', startView:'day', minView:'day'}" on-set-time="startDateOnSetTime();startTimeIsOpen=!startTimeIsOpen"
                                             before-render="startDateBeforeRender($dates)" />
                                       </span>
                                    </span>
                                 </span>
                              </div>
                           </div>
                           <div class="row mt-1">
                              <div class="col-md-4 text-right">
                                 <label>To:</label>
                              </div>
                              <div class="col-md-8">
                                 <span class="input-group" uib-dropdown is-open="endTimeIsOpen">
                                    <input type="text" class="form-control" ng-model="dateRangeEnd" />
                                    <span class="input-group-append">
                                       <button id="dropdownEndTime" type="button" class="btn btn-light" uib-dropdown-toggle>
                                          <span class="fa fa-calendar"></span>
                                       </button>
                                       <span class="dropdown-menu" uib-dropdown-menu>
                                          <datetimepicker ng-model="dateRangeEnd" datetimepicker-config="{modelType:'moment', startView:'day', minView:'day'}" on-set-time="endDateOnSetTime();endTimeIsOpen=!endTimeIsOpen"
                                             before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                                          />
                                       </span>
                                    </span>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="card">
                        <div class="card-header" style="padding: 5px 10px;">
                           <label>
                              Leaf element id:
                           </label>
                        </div>
                        <div class="card-body">
                           <div class="row mt-1">
                              <div class="col-md-4 text-right">
                                 <label>
                                    {{selections.dimensionType}}:
                                 </label>
                              </div>
                              <div class="col-md-8 text-center">
                                    <select class="form-control input-group-append" ng-model="lists.dateFormats[selections.dimensionType].format" ng-options="f for f in  lists.dateFormats[selections.dimensionType].formats"
                                    ng-change="generateExample();generateDimension()">
                                    <option></option>
                                 </select>
                              </div>
                           </div>
                           <div class="row">
                                 <div class="col-md-4 text-right"></div>
                                 <div class="col-md-8">
                                       <label>{{examples[selections.dimensionType]}}</label>
                                 </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Consolidations
               </uib-tab-heading>
               <div class="row mt-3" ng-repeat="dimensionType in lists.dimensionElements[selections.dimensionType]" ng-if="$index>0">
                  <div class="col-md-2 text-right">
                     <label>{{dimensionType}}:</label>
                  </div>
                  <div class="col-md-4">
                     <select class="form-control input-group-append" ng-model="lists.dateFormats[dimensionType].format" ng-options="f for f in  lists.dateFormats[dimensionType].formats"
                        ng-change="generateExample();generateDimension()">
                        <option></option>
                     </select>
                  </div>
                  <div class="col-md-2 text-left">
                     <label>{{examples[dimensionType]}}</label>
                  </div>
               </div>
            </uib-tab>
            <uib-tab ng-if="dimensionOptions['Hierarchies'].value">
               <uib-tab-heading>
                  Hierarchies
               </uib-tab-heading>
               <div class="row">
                  <div class="col-md-4" ng-repeat="hierarchy in lists.hierarchies[selections.dimensionType]">
                     <div class="card mb-1">
                        <div class="card-header">
                           <span class="input-group">
                              <input type="checkbox" ng-model="hierarchy.included" ng-change="" class="mt-2 mr-2" uib-popover="Include Hierarchy" popover-append-to-body="true"
                                 popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                              <span class="input-group-text">Hierarchy {{$index+1}} (
                                 <a href class="click" ng-click="hierarchy.show = !hierarchy.show">
                                    <i class="fa fa-toggle-on" ng-if="hierarchy.show"></i>
                                    <i class="fa fa-toggle-off" ng-if="!hierarchy.show"></i>
                                 </a>) - Name :</span>
                              <input type="text" class="form-control input-group-append" ng-model="hierarchy.name" />
                           </span>
                        </div>
                        <div class="card-body p-2" ng-if="hierarchy.show">

                           <ul class="list-group list-group-flush">
                              <li class="list-group-item p-1" ng-repeat="rollUp in hierarchy.rollUps" ng-class="{'list-group-item-info':rollUp.level=='level 0'}">
                                 <span class="input-group" ng-if="rollUp.level=='Top'">
                                    <input type="text" class="form-control" ng-model="rollUp.name" />
                                 </span>
                                 <span style="padding-left:{{($index)*10}}px" ng-if="rollUp.level!='Top'">
                                    <span ng-if="rollUp.level!='level 0'">-</span>
                                    <span ng-if="rollUp.level=='level 0'">#</span>
                                    {{examples[rollUp.name]}} ({{rollUp.name}})
                                 </span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </uib-tab>
            <uib-tab ng-if="dimensionOptions['Aliases'].value">
               <uib-tab-heading>
                  Aliases
               </uib-tab-heading>
               <div class="auto-height">
                  <div>
                     <div>
                        <table class="table table-hover table-sm">
                           <thead>
                              <tr>
                                 <th> Rollups </th>
                                 <th> Elements </th>
                                 <th class="text-center" ng-repeat="alias in lists.aliases">
                                    <span>
                                       Alias {{$index+1}}:
                                    </span>
                                    <span class="input-group">
                                       <span>
                                          <input type="checkbox" ng-model="alias.included" ng-change="" class="mt-2 mr-2">
                                       </span>
                                       <span class="input-group-append">
                                          <input type="text" class="form-control" ng-model="alias.name" />
                                       </span>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="element in lists.dimensionElements[selections.dimensionType]">
                                 <td>
                                    <span>
                                       {{element}}
                                    </span>
                                 </td>
                                 <td>
                                    <span>
                                       {{examples[element]}}
                                    </span>
                                 </td>
                                 <td ng-repeat="alias in lists.aliases">
                                    <span class="input-group">
                                       <span class="col-md-7">
                                          <select class="form-control input-group-append" ng-model="lists.aliasesFomat[alias.id][element].format" ng-options="f for f in  lists.dateFormats[element].formats"
                                             ng-change="">
                                             <option></option>
                                          </select>
                                       </span>
                                       <span class="col-md-5">
                                          {{examples[element] | amDateFormat:lists.aliasesFomat[alias.id][element].format}}
                                       </span>
                                    </span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </uib-tab>
            <uib-tab ng-if="dimensionOptions['Attributes'].value">
               <uib-tab-heading>
                  Attributes
               </uib-tab-heading>
               <auto-height>
                  <table class="table table-hover table-sm">
                     <thead>
                        <tr>
                           <th> # </th>
                           <th> Attributes </th>
                           <th> Type </th>
                           <th> Description </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="attribute in lists.attributes[selections.dimensionType]">
                           <td>
                              <input type="checkbox" ng-model="attribute.included" ng-change="" class="mt-2 mr-2"> </td>
                           <td> {{attribute.name}} </td>
                           <td>
                              {{attribute.type}}
                           </td>
                           <td>
                              {{attribute.desc}}
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </auto-height>
            </uib-tab>
            <uib-tab ng-if="dimensionOptions['Cumulatives'].value">
               <uib-tab-heading>
                  Cumulatives
               </uib-tab-heading>
               <auto-height>
                  <table class="table table-hover table-sm">
                     <thead>
                        <tr>
                           <th> # </th>
                           <th> Cumulatives </th>
                           <th> Description </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="cumul in lists.cumuls[selections.dimensionType]">
                           <td>
                              <input type="checkbox" ng-model="cumul.included" ng-change="" class="mt-2 mr-2"> </td>
                           <td> {{lists.cumulsDesc[cumul.id].name}} </td>
                           <td> {{lists.cumulsDesc[cumul.id].desc}} </td>
                        </tr>
                     </tbody>
                  </table>
               </auto-height>
            </uib-tab>
            <uib-tab ng-if="dimensionOptions['Relatives'].value">
               <uib-tab-heading>
                  Relatives
               </uib-tab-heading>
               <auto-height>
                  <table class="table table-hover table-sm">
                     <thead>
                        <tr>
                           <th> # </th>
                           <th> Relatives </th>
                           <th> Description </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="relative in lists.relatives[selections.dimensionType]">
                           <td>
                              <input type="checkbox" ng-model="relative.included" ng-change="" class="mt-2 mr-2"> </td>
                           <td> {{lists.relativesDesc[relative.id].name}} </td>
                           <td> {{lists.relativesDesc[relative.id].desc}} </td>
                        </tr>
                     </tbody>
                  </table>
               </auto-height>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Preview
               </uib-tab-heading>
               <div ng-repeat="element in lists.elements">
                  {{element}}
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Execute
               </uib-tab-heading>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>
                  Custom
               </uib-tab-heading>
               <div class="row mt-3">
                  <div class="col-md-3 text-right">
                     <label>First Week Day:</label>
                  </div>
                  <div class="col-md-2">
                     <select class="form-control input-group-append" ng-model="selections.startDayofWeek" ng-options="t for t in lists.weekDays">
                        <option></option>
                     </select>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-3 text-right">
                     <label>First Fiscal Year Month:</label>
                  </div>
                  <div class="col-md-2">
                     <select class="form-control input-group-append" ng-model="selections.fiscalYearStartMonth" ng-options="m for m in lists.months">
                        <option></option>
                     </select>
                  </div>
               </div>
               <div class="row mt-3" ng-repeat="separator in lists.separators">
                  <div class="col-md-3 text-right">
                     <label>
                        {{separator.type}}:
                     </label>
                  </div>
                  <div class="col-md-2">
                     <input type="text" class="form-control mr-1" ng-model="separator.value" />
                  </div>
                  <div class="col-md-2 text-left">
                     <label>
                        2018{{separator.value}}1
                     </label>
                  </div>
               </div>
            </uib-tab>
         </uib-tabset>
      </div>
   </div>
</div>