<div>
   <style>
      .card-button:hover {
         background-color: #FFF3CD;
         color: #856404;
         border-color: #FFEEBA
      }
   </style>
   <div class="toolbar">
      <label>
         <h2>
            <i class="fa fa-cubes" style="padding-right:5px" aria-hidden="true"></i>
            Save data into disk</h2>
      </label>
   </div>
   <div class="row" style="margin-top:10px">
      <div class="col-md-6" style="padding-top:5px">
         <div class="input-group pull-right">
            <span class="input-group-prepend">
               <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="display:inline;width:300px" type="text" ng-model="selections.cubeFilter"
                  placeholder="Search for cubes">
            </span>
            <span class="input-group-append">
                  <button class="btn btn-primary" ng-click="getCubes()" uib-popover="Refresh"
                     popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                     <i class="fa fa-refresh" aria-hidden="true"></i>
                  </button>
               </span>
            <span class="input-group-append">
               <button ng-disabled="cubesToSave.length==0" class="btn btn-warning" ng-click="openModalSaveData()" uib-popover="Save data for selected cubes"
                  popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
               </button>
            </span>
            <span class="input-group-append">
                  <button class="btn btn-warning" ng-click="openModalSaveDataAll()" uib-popover="Save data for all cubes"
                     popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                     <i class="fa fa-cubes" aria-hidden="true"></i>
                  </button>
               </span>
         </div>
      </div>
      <div class="col-md-6">
            <div  ng-if="selections.showAlert" class="mx-auto alert alert-danger" role="alert" style="margin-bottom:0px;padding:10px">
                  <i ng-click="selections.showAlert=false" class="fa fa-close" aria-hidden="true" style="cursor:pointer"></i>
                  Running a save data might take few minutes, use it with care in production!
               </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">         
         <table class="table table-hover table-sm ng-scope">
            <thead>
               <tr>
                  <th style="width: 30px;" class="text-center">
                     <input ng-if="selections.cubeFilter.length==0" style="margin-top:5px" type="checkbox" ng-model="defaults.selectAllCubes"
                        ng-change="toggleAllCubeToSave(  )" class="ng-pristine ng-untouched ng-valid ng-empty" uib-popover="Select All"
                        popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-default"> </th>
                        <th class="text-center"></th>
                        <th class="text-center"> Name </th>
                  <th class="text-center"> Last Data Update </th>
                  <th class="text-center"> Last Schema Update </th>
               </tr>
            </thead>

            <tbody>
               <tr ng-repeat="cube in lists.cubes |filter:selections.cubeFilter">
                  <td class="text-center">
                     <input style="margin-top:5px" type="checkbox" ng-model="cube.saveData" ng-change="toggleCubeToSave(cube)" class="ng-pristine ng-untouched ng-valid ng-empty"> </td>
                  <td class="text-center">
                     <i class="fa fa-floppy-o alert-warning" aria-hidden="true" uib-popover="Save Data"
                     popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-default"
                     style="cursor:pointer"
                     ng-click="saveDataForOneCube(cube)"></i>
                  </td>
                  <td> {{cube.Name}} <span ng-if="cube.responseTimeMs>0" class="badge ml-1 badge-success" ng-style="generateHSLColour(cube.responseTimeMs)">
                        {{cube.responseTimeMs}} Ms
                  </span></td>
                  <td> {{cube.LastDataUpdateNewFormat}}</td>
                  <td> {{cube.LastSchemaUpdateNewFormat}}</td>
               </tr>
            </tbody>

         </table>
      </div>
   </div>
</div>